<div class="grid grid-cols-12 pt{{ item.spaceAbove }} pb{{ item.spaceBelow }}">
    {% for item in item.employees %}
        <div class="col-span-12 lg:col-span-4">
            {% include '_components/asset' with { asset: item.mainAsset.one } %}
            <div class="p text-sm" style="background: {{ item.bgColor.color[0].color }}">
                <div class="flex justify-between pb-lg">
                    <div>{{ item.title }}</div>
                    <div>{{ item.caption }}</div>
                </div>
                <div class="flex flex-col space-y-1">
                    {% for row in item.table %}
                        <div class="flex space-x-4">
                            <div>{{ row.column1 }}</div>
                            <div>{{ row.column2 }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>